html {
  font-family: "Public Sans", sans-serif;
  color: #ffff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height:100vh;
  justify-content:center;
    background-color:red;
}

.container .paiting {
  position: relative;
  width: 335px;
  height: 432px;
  
}
.container .paiting img {
  max-width: 100%;
  padding: 128px 20px 129px;
}

.container .paiting .label {
  position: absolute;
  bottom: 1px;
  left: 40px;
}

.paiting .label .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.paiting .label .subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
