html {
  font-family: "Public Sans", sans-serif;
}
.container {
  position: relative;
  width: 1440px;
  height: 689px;
}

.container.paiting img {
  padding: 128px 20px 129px;
  width: 335px;
  height: 432px;

}

.paiting .label h2,
.paiting .label h3 {
  position: absolute;
}

.label h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.label h3 {
  line-height: 80px;
  font-weight: 300;
  font-size: 17px;
  line-height:20px;
}

